*Импортируем модули*

In [17]:
import pandas as pd

*Загружаем данные*

In [18]:
df = pd.read_csv('data/flavors_of_cacao.csv', delimiter=',')

print('Выборка для наглядности:')
df

Выборка для наглядности:

,Company (Maker-if known),Specific Bean Originor Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

**Задание 1.** Сгруппировать оценки по:

*a) Годам проведения дегустации (Review Date)*

In [19]:
df.groupby("Review Date")["Rating"].var()
df.groupby("Review Date")["Rating"].std()
df.groupby("Review Date")["Rating"].mean()
df.groupby("Review Date")["Rating"].median()

Review Date
2006    3.00
2007    3.00
2008    3.00
2009    3.00
2010    3.25
2011    3.25
2012    3.25
2013    3.25
2014    3.25
2015    3.25
2016    3.25
2017    3.50
Name: Rating, dtype: float64

*b) Первой цифре поля REF*

In [20]:
df.groupby([str(w)[0] for w in df["REF"]])["Rating"].var()
df.groupby([str(w)[0] for w in df["REF"]])["Rating"].std()
df.groupby([str(w)[0] for w in df["REF"]])["Rating"].mean()
df.groupby([str(w)[0] for w in df["REF"]])["Rating"].median()

1    3.25
2    3.00
3    3.00
4    3.00
5    3.25
6    3.25
7    3.25
8    3.25
9    3.25
Name: Rating, dtype: float64

*c) Стране компании (Company Location)*

In [21]:
df.groupby("Company Location")["Rating"].var()
df.groupby("Company Location")["Rating"].std()
df.groupby("Company Location")["Rating"].mean()
df.groupby("Company Location")["Rating"].median()

Company Location
Amsterdam            3.500
Argentina            3.500
Australia            3.500
Austria              3.250
Belgium              3.250
Bolivia              3.250
Brazil               3.500
Canada               3.250
Chile                3.750
Colombia             3.250
Costa Rica           3.250
Czech Republic       2.750
Denmark              3.250
Domincan Republic    3.250
Ecuador              3.000
Eucador              3.000
Fiji                 3.375
Finland              3.250
France               3.250
Germany              3.250
Ghana                2.750
Grenada              2.750
Guatemala            3.250
Honduras             3.250
Hungary              3.250
Iceland              3.500
India                2.500
Ireland              2.750
Israel               3.500
Italy                3.250
Japan                3.000
Lithuania            3.125
Madagascar           3.250
Martinique           2.750
Mexico               2.875
Netherlands          3.500
New Zealand          3.250
Niacragua            2.750
Nicaragua            3.000
Peru                 3.000
Philippines          3.500
Poland               3.500
Portugal             2.750
Puerto Rico          2.625
Russia               3.250
Sao Tome             3.375
Scotland             3.500
Singapore            3.500
South Africa         2.500
South Korea          3.250
Spain                3.250
St. Lucia            3.000
Suriname             3.250
Sweden               3.000
Switzerland          3.250
U.K.                 3.000
U.S.A.               3.250
Venezuela            3.250
Vietnam              3.500
Wales                2.750
Name: Rating, dtype: float64

*d) Происхождению какао-бобов (Broad Bean Origin)*

In [22]:
df.groupby("Broad Bean Origin")["Rating"].var()
df.groupby("Broad Bean Origin")["Rating"].std()
df.groupby("Broad Bean Origin")["Rating"].mean()
df.groupby("Broad Bean Origin")["Rating"].median()

Broad Bean Origin
Africa, Carribean, C. Am.    2.750
Australia                    3.250
Belize                       3.250
Bolivia                      3.250
Brazil                       3.375
                             ...
Venezuela, Trinidad          2.500
Venezuela/ Ghana             3.500
Vietnam                      3.375
West Africa                  2.625
                             3.000
Name: Rating, Length: 100, dtype: float64

Общие дисперсия, СКО, среднее, медиана

In [23]:
df["Rating"].var()
df["Rating"].std()
df["Rating"].mean()
df["Rating"].median()

3.25

**Задание 3**. Оценить величины дисперсии и размаха (max-min) рейтинга (Rating) для различного содержания какао в процентах (Cocoa Percent)

In [24]:
df.groupby("Cocoa Percent")["Rating"].max() - df.groupby("Cocoa Percent")["Rating"].min()
df.groupby("Cocoa Percent")["Rating"].var()

Cocoa Percent
100%     0.480263
42%           NaN
46%           NaN
50%           NaN
53%           NaN
55%      0.133073
56%      0.000000
57%           NaN
58%      0.178571
60%      0.132406
60.5%         NaN
61%      0.150670
62%      0.296703
63%      0.130208
64%      0.178253
65%      0.193983
66%      0.135623
67%      0.308939
68%      0.184725
69%      0.166667
70%      0.205170
71%      0.218952
72%      0.195574
72.5%    0.083333
73%      0.356410
73.5%    0.781250
74%      0.202577
75%      0.216502
76%      0.209980
77%      0.164181
78%      0.233915
79%           NaN
80%      0.145344
81%      0.331250
82%      0.199449
83%      0.140625
84%      0.307292
85%      0.214087
86%           NaN
87%           NaN
88%      0.150670
89%      0.031250
90%      0.293527
91%      0.583333
99%      0.781250
Name: Rating, dtype: float64